<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">

        <title>COVID Data from Countries!</title>

    </head>

    <body>

        <form action="/" method="post">
            <div>
                <input autocomplete="off" class="form-control-plaintext" style="font-size: 60px; border: 4px solid grey; border-radius: 8px; background-color: #ffffff;" type="text" name="country" placeholder="Search for Country...">
            </div>
            <div style="margin: auto">
              <button class="btn btn-dark" type="submit" style="float: right; margin-top: 20px; font-size: 30px;width = 100%">Submit</button>
            </div>
        </form>

    </body>


</html>
